@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
@font-face {
  font-family: 'Menlo';
  src: url('../fonts/Menlo-Regular.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/Menlo-Regular.woff') format('woff'),
  		url('../fonts/Menlo-Regular.ttf')  format('truetype'),
  		url('../fonts/Menlo-Regular.svg#Menlo-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

/* font-family: 'Roboto Condensed', sans-serif; */

html {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}
body {
	margin:0;
	color:#fff;
	font:16px/1.2 'Roboto Condensed', Arial, Helvetica, sans-serif;
	background:#000 url("../images/img-bg-01-1.png") no-repeat;
	/* -webkit-background-size: cover;
	background-size: cover; */
	background-position: 50% 0;
	min-width: 750px !important;
	height: 100%;
}
img {
	border-style:none;
}
a {
	/* color: #00a3d2; */
	color: #fff;
	outline:none;
	text-decoration: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.link{
	color: #00a3d2;
	text-decoration: underline;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
a:hover {
	text-decoration: none;
}
.link:hover{
	color: #95a0ad;
	text-decoration: underline;
}
.not-line,
.not-line:hover{
	text-decoration: none;
}
* {
	outline:none;
}
input, textarea, select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
input::-ms-clear {
	display: none;
}
input:not([type="checkbox"]), textarea {
	-webkit-appearance:none;
	-webkit-border-radius:0;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
	display: block;
}
.container-full{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}
.container{
	width: 100%;
	max-width: 990px;
	padding: 0 20px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#wrapper{
	width:100%;
	margin:0 auto;
	overflow: hidden;
}
#header{
	position: relative;
	height:67px;
	background: rgba(17,17,17,.2);
	padding: 19px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#header:after{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	background: url("../images/icon-bd.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 1px;
}
.logo{
	float:left;
	width:72px;
	height:28px;
	background:url("../images/logo.svg") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	text-indent:-9999px;
	overflow:hidden;
	margin: 0;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.logo a{
	display:block;
	height:100%;
}
.logo:hover{
	background:url("../images/logo-hv.svg") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* fill: #f74100; */
}
.mob-logo{
	display: none;
	width: 140px;
	height: 54px;
}
#nav{
	/* overflow:hidden; */
	padding: 4px 0 0 71px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.btn-open {
	display: none;
	width: 75px;
    height: 47px;
	position: absolute;
	top: 39px;
    right: 47px;
	padding: 0;
}
.btn-open span {
	display: block;
	position: relative;
	width: 75px;
    height: 1px;
	/* background: #000; */
	margin: 20px auto 0;
}
.btn-open span:after,
.btn-open span:before {
	content: '';
	position: absolute;
	width: 100%;
	background: #fff;
	height: 7px;
    top: -10px;
	left: 0;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
.btn-open span:after {
	top: 10px;
}
#header.active .btn-open span {
	background: none;
}
#header.active .btn-open span:before {
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
	margin: 10px 0 0;
}
#header.active .btn-open span:after {
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
	margin: -10px 0 0;
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 0;
}
.menu li{
	display: inline-block;
	vertical-align: top;
	margin: 0 28px 0 0;
}
.menu li a{
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1.2;
	/* font-weight: 700; */
	letter-spacing: 0.03em;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.menu li a:hover{
	color: #00a3d2;
}
.contact-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
}
.title-contact{
	display: none;
	color: #95a0ad;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 43px;
}
.btn-login{
	text-transform: uppercase;
	font-size: 18px;
	padding: 0 0 0 19px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	/* font-weight: 700; */
	letter-spacing: 0.03em;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.btn-login:after{
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	background: url("../images/icon-user.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	-webkit-transform: translate(0, -65%);
	-ms-transform: translate(0, -65%);
	-o-transform: translate(0, -65%);
	transform: translate(0, -65%);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.btn-login:hover{
	color: #00a3d2;
}
.btn-login:hover:after{
	background: url("../images/icon-user-hv.png") no-repeat;
}
.list-social{
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
.list-social li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 27px;
}
.list-social li a{
	display: block;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.list-social li.tl a{
	width: 21px;
	height: 17px;
	background: url("../images/icon-tl.svg") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.list-social li.tl a:hover{
	background: url("../images/icon-tl-hv.svg") no-repeat;
}
.list-social li.tw a{
	width: 19px;
	height: 16px;
	background: url("../images/icon-tw.svg") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.list-social li.tw a:hover{
	background: url("../images/icon-tw-hv.svg") no-repeat;
}
.lang-box{
	position: relative;
	padding: 0 7px 0 26px;
	margin: 0 19px 0 0;
}
.lang,
.list-lang li a{
	display: block;
	padding: 22px 0;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	letter-spacing: 0.025em;
}
.lang{
	position: relative;
	padding: 0 19px 0 0;
}
.list-lang{
	display: none;
	position: absolute;
	top: 100%;
	width: 72px;
	padding: 26px 26px 0;
	background: url("../images/img-bg-07.png") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	left: 0;
	z-index: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	margin: 0;
}
.list-lang li{
	border-bottom: 1px solid #00a3d2;
	display: block;
}
.list-lang li:last-child{
	border: none;
}
.lang:after{
	position: absolute;
	content: '';
	width: 15px;
	height: 8px;
	background: url("../images/arrow-down.svg") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	right: 0;
	top: 50%;
	margin: -3px 0 0;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.lang:hover,
.lang-box:hover .lang,
.list-lang li a:hover{
	color: #00a3d2;
}
.lang:hover:after,
.lang-box:hover .lang:after{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	background: url("../images/arrow-up.svg") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.lang-box:hover .list-lang{
	display: block;
}
.main-section{
	padding: 33px 0 90px;
}
.heading{
	margin: 0 0 52px;
	text-align: center;
}
.heading .date{
	display: block;
	margin: 0 0 7px;
	text-transform: uppercase;
	font-size: 20px;
}
.title{
	margin: 0 0 13px;
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 400;
}
.heading .city{
	display: block;
	color: #95a0ad;
	letter-spacing: -0.015em;
	/* font-weight: 400; */
}
.tokenization-box{
	position: relative;
	margin: 0 auto 0;
	max-width: 585px;
	padding: 0 0 0;
	min-height: 436px;
}
.tokenization-box:after,
.tokenization-box:before{
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	width: 185px;
	z-index: -1;
}
.tokenization-box:after{
	right: 0;
	background: url("../images/bd-right.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.tokenization-box:before{
	left: 0;
	background: url("../images/bd-left.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.list-team{
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.list-team .item-team {
	width: 147px;
	height: 147px;
}
.big-cup{
	margin: -20px 0 10px;
}
.inner-cup{
	/* width: 100%; */
	width: 285px;
	margin: -16px auto 0;
}
.inner-cup img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.item-team .inner-team{
	border-radius: 10px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 147px;
	height: 147px;
	cursor: pointer;
	position: relative;
}

.item-team .inner-team.animate {
	animation: pulse 1s infinite;
}

.item-team .inner-team.animate-stop {
	animation-play-state: paused;
}


.front{
	border-radius: 10px;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	/* overflow: hidden; */
	transform: perspective(600px) rotateY(0deg);
	-webkit-transition: all .6s linear;
	-moz-transition: all .6s linear;
	-ms-transition: all .6s linear;
	-o-transition: all .6s linear;
	transition: all .6s linear;
}
/* .inner-front{
	
	border-radius: 10px;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden;
} */
.item-team .logo-box{
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 99px;
	margin: 0 auto;
}
.item-team .logo-box img{
	max-width: 100%;
	height: auto;
	max-height: 100%;
	vertical-align: top;
}
.item-team.left{
	margin: -18px 0 0 -75px;
}
.item-team.right{
	margin: -18px -71px 0 0;
}
.item-team img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
.inner-box-team{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	background-image: -webkit-linear-gradient(bottom, #111d30 0%, #42536a 99%, #42536a 100%);
	background-image: -o-linear-gradient(bottom, #111d30 0%, #42536a 99%, #42536a 100%);
	background-image: linear-gradient(to top, #111d30 0%, #42536a 99%, #42536a 100%);
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, .8);
	text-align: center;
	padding: 8px 15px 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .6s linear;
	-moz-transition: all .6s linear;
	-ms-transition: all .6s linear;
	-o-transition: all .6s linear;
	transition: all .6s linear;
	transform: perspective(600px) rotateY(180deg);
	border-radius: 10px;
	overflow: hidden;
	backface-visibility: hidden;
}
.inner-box-team .logo-box{
	width: 55px;
	margin: 0 auto 6px;
	/* display: block; */
	height: 73px;
}
.inner-box-team strong{
	text-transform: uppercase;
	font-size: 26px;
	display: block;
	margin: 0 0 2px;
	font-weight: 400;
}
.prize-box{
	text-align: center;
	border: 1px solid #95a0ad;
	border-top: none;
	border-radius: 10px;
	padding: 15px 15px;
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 395px;
	background: url("../images/img-bg-03.png") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.prize-title{
	display: block;
	margin: -26px 0 12px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}
.prize-box strong{
	display: block;
	margin: 0 0 0;
	font-size: 62px;
	text-transform: uppercase;
	font-weight: 400;
}
.prize-logo{
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	margin: -9px 0 0;
}
.prize-logo a{
	display: inline-block;
	vertical-align: middle;
	width: 81px;
	height: 18px;
	background: url("../images/logo-2.svg") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	margin: -9px 0 0 5px;
}
.tab-section{
	padding: 40px 0 34px;
	position: relative;
}
/* .tab-section:after{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background: url("../images/icon-bd.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
} */
.tab-section .heading{
	margin: 0 auto 42px;
	max-width: 525px;
}
.title-section{
	text-transform: uppercase;
	font-size: 26px;
	margin: 0 0 21px;
	font-weight: 400;
}
.subtitle{
	display: block;
	color: #95a0ad;
	font-size: 20px;
	font-weight: 400;
}
.tabset{
	margin: 0 auto;
	max-width: 485px;
}
.tab{
	display:none;
	min-height: 538px;
}
.tab.active{
	display:block;
}
.tab-control{
	list-style: none;
	margin: 0 0 77px;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.tab-control li{
	text-align: center;
	padding: 0 6px;
}
.tab-control li a{
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	color: #95a0ad;
}
.tab-control strong{
	/* position: relative; */
	padding: 0 0 17px;
	text-align: center;
	display: block;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 18px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.tab-control strong:after{
	position: absolute;
	content: '';
	bottom: 38px;
	height: 1px;
	width: 100%;
	opacity: 0;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.tab-control .item-1 strong:after{
	left: 0;
	background: url("../images/icon-04.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.tab-control .item-2 strong:after{
	left: 50%;
	background: url("../images/icon-05.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.tab-control .item-3 strong:after{
	right: 0;
	background: url("../images/icon-06.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.tab-control .active strong:after{
	opacity: 1;
}
.tab-control strong em{
	margin: 0 0 11px;
	display: block;
	font-size: 36px;
	font-style: normal;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.date-tab{
	display: block;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.tab-control li a:hover strong,
.tab-control .active strong{
	color: #fff;
}
.tab-control li a:hover strong em,
.tab-control li a:hover .date-tab,
.tab-control .active strong em,
.tab-control .active .date-tab{
	color: #00a3d2;
}
.tab-title{
	text-align: center;
	margin: 0 0 40px;
	color: #fff;
	font-size: 26px;
	font-weight: 400;
	/* max-width: 357px; */
	text-transform: uppercase;
}
.list-steps{
	list-style: none;
	margin: 0 -15px;
	padding: 41px 0 0;
	font-size: 0;
	line-height: 0;
}
.list-steps li{
	padding: 0 24px;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 69px;
	width: 50%;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.list-steps li:nth-child(2){
	text-align: right;
}
.list-steps li:last-child{
	width: 100%;
	text-align: center;
}
.inner-step{
	max-width: 160px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.list-steps li:last-child .inner-step{
	max-width: 330px;
}
.icon-box{
	position: relative;
	margin: 0 0 14px;
	padding: 0 0 0;
	height: 67px;
	text-align: center;
}
.list-steps li:first-child .icon-box{
	padding: 0 30px 0 0;
}
.list-steps li:nth-child(2) .icon-box{
	padding: 0 13px 0 0;
}
.icon-box img{
	vertical-align: top;
	width: 100%;
	max-width: 68px;
	height: auto;
}
.list-steps li:last-child .icon-box img{
	max-width: 60px;
}
.num{
	font-size: 182px;
	line-height: 1;
	opacity: 0.2;
	color: #95a0ad;
	position: absolute;
	top: 50%;
	left: -14px;
	-webkit-transform: translate(0, -43%);
	-ms-transform: translate(0, -43%);
	-o-transform: translate(0, -43%);
	transform: translate(0, -43%);
	z-index: -1;
}
.list-steps li:nth-child(2) .num{
	left: auto;
	right: 5px;
}
.list-steps li:last-child .num{
	left: 50%;
	-webkit-transform: translate(-63%, -45%);
	-ms-transform: translate(-63%, -45%);
	-o-transform: translate(-63%, -45%);
	transform: translate(-63%, -45%);
}
.desc-list{
	font-size: 16px;
	line-height: 1.2;
}
.tab-title.change{
	margin: 0 -40px 74px;
}
.teams-block{
	font-size: 0;
	line-height: 0;
	margin: 0;
	text-align: center;
}
.item-block{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 0 0 54px;
}
.item-block .vs{
	position: absolute;
	top: 56px;
	right: -9px;
	color: #95a0ad;
	font-size: 20px;
	line-height: 1.2;
	text-transform: uppercase;
}
.img-box{
	margin: 0 auto 27px;
	width: 131px;
	height: 131px;
	overflow: hidden;
	border-radius: 10px;
	background: #fff;
}
.item-block .logo-box{
	max-width: 84px;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin: 0 auto;
}
.img-box img{
	width: 100%;
	height: auto;
	vertical-align: top;
}
.name-team{
	display: block;
	margin: 0 0 16px;
	text-transform: uppercase;
	font-size: 26px;
	line-height: 1.2;
	font-weight: 400;
}
.list-num{
	list-style: none;
	margin: 0 0 27px;
	padding: 0;
}
.list-num li{
	margin: 0 0 0;
	color: #95a0ad;
	font-size: 16px;
	line-height: 1.2;
}
.list-num li span{
	color: #fff;
}
.btn-holder{
	margin: 0 0 16px;
}
.btn{
	font-size: 16px;
	line-height: 1.2;
	padding: 11px 10px;
	width: 100%;
	max-width: 139px;
	border: 1px solid #0099c6;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	display: inline-block;
	vertical-align: top;
}
.btn:hover{
	background: #0099c6;
}
.item-block .link{
	font-size: 16px;
	line-height: 1.2;
}
.visual{
	margin: -10px auto 39px;
	text-align: center;
	max-width: 182px;
}
.visual img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
.tab .desc{
	text-transform: uppercase;
	font-size: 26px;
	text-align: center;
	margin: 0 0 10px;
}
.follow-section{
	padding: 81px 0 77px;
	text-align: center;
	position: relative;
}
.follow-section:after{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	height: 1px;
	background: url("../images/icon-bd.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.follow-section .title{
	margin: 0 0 42px;
}
.follow-section .list-social li{
	margin: 0 13px;
}
.follow-section .list-social li a{
	width: 62px;
	height: 62px;
	border-radius: 50%;
	border: 1px solid #95a0ad;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.follow-section .list-social li a:hover{
	border: 1px solid #00a3d2;
}
.follow-section .list-social .tl a,
.follow-section .list-social .tl a:hover{
	-webkit-background-size: 30px 24px;
	background-size: 30px 24px;
	background-position: 50%;
}
.follow-section .list-social .tw a,
.follow-section .list-social .tw a:hover{
	-webkit-background-size: 27px 23px;
	background-size: 27px 23px;
	background-position: 50%;
}
#footer{
	position: relative;
	padding: 67px 0 167px;
	background: url("../images/img-bg-02.png") no-repeat;
	background-position: 50% 100%;
	-webkit-background-size: cover;
	background-size: cover;
}
#footer:after{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	height: 1px;
	background: url("../images/icon-bd.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.footer-logo{
	float: left;
	width: 160px;
	text-align: center;
	padding: 3px 0 0;
}
.footer-logo .logo{
	width: 110px;
	height: 44px;
	float: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 24px;
}
.footer-logo .prize-logo{
	margin: 0 0 42px;
}
.copy{
	color: #95a0ad;
	font-size: 15px;
	padding: 0 5px 0 0;
}
.footer-text{
	overflow: hidden;
	padding: 0 0 0 131px;
}
.footer-nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 16px;
}
.footer-nav .menu li{
	margin: 0 28px 20px 0;
}
.footer-nav .list-social li{
	margin: 0 15px 23px 13px;
}
.text-box{
	color: #95a0ad;
	font-size: 15px;
	line-height: 1.3;
	letter-spacing: -0.003em;
}
.text-box p{
	margin: 0 0 22px;
}
.show-mob{
	display: none;
}

/* Pop-up */
.popup-holder {
  position: fixed;
  top: -9999px;
  left: -9999px;
  width: 100%;
  height: 100%;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
#enter-popup.popup-holder{
	justify-content: flex-end;
}
.popup-holder.active{
  pointer-events: auto;
  opacity: 1;
  left: 0;
  top: 0;
}
.popup-holder .popup__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}
.popup-holder .bg {
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #0b1a24;
  filter: alpha(opacity=60);
  opacity: 0.6
}
.popup{
  position:absolute;
  width: 100%;
  max-width: 537px;
  background: url("../images/img-bg-05.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  box-shadow: -18px 0 49px rgba(255, 255, 255, 0.15);
  border-radius: 0;
  overflow: hidden;
  height: 100vh;
}
.icon-close{
  position: absolute;
  top: 69px;
  right: 70px;
  width: 18px;
  height: 18px;
  background: url("../images/icon-close.svg") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  cursor: pointer;	
  -webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.icon-close:hover{
	background: url("../images/icon-close-hv.svg") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
#enter-popup.popup-holder .popup__scroll{
	height: 100%;
	max-height: 100vh;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.inner-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	height: 100%;
	padding: 100px 70px 67px 79px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#enter-popup .img-popup{
	margin: 0 0 18px;
	position: relative;
	bottom: auto;
	right: auto;
}
.title-popup{
	margin: 0 0 9px;
	display: block;
	font-size: 43px;
}
.subtitle-popup{
	font-size: 20px;
	display: block;
	margin: 0 0 50px;
	line-height: 1.5;
}
#enter-popup .btn-holder{
	margin: 0 0 76px;
	width: 100%;
	text-align: center;
}
#enter-popup .btn-holder .btn{
	font-size: 20px;
	max-width: 203px;
	padding: 19px 10px 18px;
}
#enter-popup .logo-link{
	margin: 0 0 23px;
}
#enter-popup .link{
	font-size: 16px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
#feedback-popup.popup-holder{
	justify-content: center;
}
#feedback-popup .popup{
  position:absolute;
  width: 100%;
  max-width: 526px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  height: auto;
}
#feedback-popup .icon-close{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  background: url("../images/icon-close-hv.svg") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  cursor: pointer;
  -webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
#feedback-popup .icon-close:hover{
	background: url("../images/icon-close.svg") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
#feedback-popup .heading-popup{
	padding: 64px 53px 36px 52px;
	background: url("../images/img-bg-08.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
#feedback-popup .num-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
#feedback-popup .amount{
	width: 96px;
	padding: 0 0 0 20px;
	text-align: right;
}
#feedback-popup .name-box span,
#feedback-popup .amount span{
	display: block;
	margin: 0 0 15px;
	color: #fff;
	font-size: 20px;
	line-height: 32px;
	text-transform: uppercase;
}
#feedback-popup .name-box .logo-text{
	color: #fff;
	font-size: 53px;
	line-height: 53px;
	text-transform: uppercase;
	font-weight: 400;
	display: block;
	margin: -7px 0 0;
}
#feedback-popup .number{
	color: #fff;
	font-size: 52px;
	font-weight: 700;
	line-height: 41px;
	display: block;
	position: relative;
	letter-spacing: -0.025em;
}
#feedback-popup .number:after{
	position: absolute;
	content: '';
	top: 50%;
	left: -20px;
	height: 49px;
	width: 1px;
	background: #fff;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
#feedback-popup .body-popup{
	padding: 51px 63px 44px;
	text-align: center;
}
#feedback-popup .range-holder{
	margin: 0 0 46px;
}
#feedback-popup .submit-holder{
	margin: 0 0 27px;
}
#feedback-popup .submit-holder .btn{
	border: none;
	border-radius: 10px;
	max-width: 181px;
	cursor: pointer;
	background: #0097c7;
	border: 1px solid #0097c7;
	padding: 23px 10px;
	color: #fff;
	font-size: 20px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
#feedback-popup .submit-holder .btn:hover{
	background: transparent;
	color: #0097c7;
}
#feedback-popup .text{
	color: #000;
	text-align: center;
	margin: 0;
}
#feedback-popup .text span{
	display: inline-block;
	vertical-align: top;
	padding: 5px 0 0;
	font-size: 14px;
	line-height: 27px;
}
#feedback-popup .input-holder{
	padding: 0 3px 0 0;
	margin: 0 0 17px;
}
#feedback-popup .input-holder:after{
	clear: both;
	display: block;
	content: '';
}
#feedback-popup .slide-input{
	float: right;
	text-align: right;
	border: none;
	margin: 0;
	padding: 0;
	width: 150px;
	color: #000;
	font-size: 20px;
	line-height: 20px;
	height: 20px;
	text-transform: uppercase;
	letter-spacing: -0.04em;
}
#feedback-popup .input-holder .name{
	float: left;
	display: block;
	color: #000;
	font-size: 20px;
	line-height: 20px;
	height: 20px;
	text-transform: uppercase;
	margin: 0 0 0 -2px;
}
#feedback-popup .ui-slider{
	height: 32px;
	border-radius: 0;
	background: #fff;
	border: 1px solid #0097c7;
	-webkit-transform: skewX(-25.5deg);
	-ms-transform: skewX(-25.5deg);
	-o-transform: skewX(-25.5deg);
	transform: skewX(-25.5deg);
	top: 0;
	position: relative;
}
#feedback-popup .ui-slider:after{
	position: absolute;
	content: '';
	top: 3px;
	bottom: 3px;
	left: 6px;
	right: 6px;
	-webkit-transform: skewX(-1.5deg);
	-ms-transform: skewX(-1.5deg);
	-o-transform: skewX(-1.5deg);
	transform: skewX(-1.5deg);
	background: -moz-linear-gradient(left, rgba(34,48,80,0) 0%, rgba(34,48,80,1) 100%);
	background: -webkit-linear-gradient(left, rgba(34,48,80,0) 0%,rgba(34,48,80,1) 100%);
	background: linear-gradient(to right, rgba(34,48,80,0) 0%,rgba(34,48,80,1) 100%);
	opacity: 1;
}
#feedback-popup .ui-slider-handle{
	width: 10px;
	height: 50px;
	top: -10px;
	display: block;
	position: absolute;
	z-index: 1;
	margin: 0 0 0 -5px;
}
#feedback-popup .ui-slider-handle:after{
	position: absolute;
	content: '';
	width: 39px;
	height: 50px;
	background: url("../images/icon-range.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	left: 50%;
	-webkit-transform: translate(-50%, 0) skewX(26deg);
	-ms-transform: translate(-50%, 0) skewX(26deg);
	-o-transform: translate(-50%, 0) skewX(26deg);
	transform: translate(-50%, 0) skewX(26deg);
}

/* End Pop-up */

.about-section{
	padding: 90px 0 94px;
	text-align: center;
}
.inner-section{
	max-width: 653px;
	margin: 0 auto;
}
.about-section .title-section{
	margin: 0 0 28px;
}
.about-section .desc{
	color: #95a0ad;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: -0.04em;
	margin: 0 0 17px;
}
.about-section .desc.change{
	letter-spacing: -0.03em;
	margin: 0 0 46px;
}
.about-section .desc sup{
	font-size: 16px;
}
.title-list{
	display: block;
	margin: 0 0 47px;
	font-size: 20px;
	font-weight: 400;
	padding: 0 110px;
}
.about-section .list-steps{
	margin: 0;
	padding: 41px 0 0 54px;
}
.about-section .list-steps li{
	width: 40%;
	padding: 0 15px;
	margin: 0 0 51px;
}
.about-section .list-steps li:last-child{
	width: 60%;
	text-align: left;
}
.about-section .icon-box{
	margin: 0 0 23px;
}
.about-section .list-steps li:first-child .icon-box{
	padding: 0 0 0 29px;
}
.about-section .list-steps li:nth-child(2) .icon-box{
	padding: 0 48px 0 0;
}
.about-section .num{
	left: 14px;
	-webkit-transform: translate(0, -40%);
	-ms-transform: translate(0, -40%);
	-o-transform: translate(0, -40%);
	transform: translate(0, -40%);
}
.about-section .list-steps li:last-child .num{
	-webkit-transform: translate(-51%, -41%);
	-ms-transform: translate(-51%, -41%);
	-o-transform: translate(-51%, -41%);
	transform: translate(-51%, -41%);
}
.about-section .list-steps li:last-child .icon-box img{
	max-width: 68px;
}
.text{
	margin: 0 auto 64px;
	max-width: 563px;
	color: #95a0ad;
	text-align: left;
	letter-spacing: -0.026em;
}
.text.center{
	text-align: center;
}
.text p{
	margin: 0 0 20px;
}
#footer.inner-footer{
	background: none;
	padding: 67px 0 127px;
}
.faq-section{
	padding: 64px 0 41px;
	text-align: center;
}
.faq-section .title{
	margin: 0 0 43px;
}
.faq-section .tabset{
	text-align: left;
	max-width: none;
}
.faq-section .tab-control{
	margin: 0 0 36px;
	padding: 0 24px;
}
.faq-section .tab-control li{
	position: relative;
}
.faq-section .tab-control li:after{
	position: absolute;
	content: '';
	left: -20px;
	right: -20px;
	bottom: 0;
	height: 1px;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
.faq-section .tab-control li:last-child:after{
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.faq-section .tab-control li.active:after{
	height: 4px;
	background: #00a3d2;
	bottom: -2px;
	left: 6px;
	right: 6px;
}
.faq-section .tab-control a{
	text-transform: uppercase;
	font-size: 26px;
	padding: 0 0 8px;
	color: #fff;
	letter-spacing: -0.03em;
	display: inline-block;
	vertical-align: top;
}
.faq-section .accordion{
	counter-reset: li;
	list-style: none;
	margin: 0 0 0;
	padding: 0 0 0 36px;
}
.accordion .item{
	margin: 0 0 22px;
	letter-spacing: -0.004em;
}
.head{
	display: block;
	font-size: 20px;
	position: relative;
	font-weight: 400;
	cursor: pointer;
}
.head:hover,
.faq-section .item.active .head{
	color: #00a3d2;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.faq-section .item .head:before{
	counter-increment: li;
	content: counters(li,".") ". ";
}
.expanded{
	display: none;
	padding: 15px 10px 14px 21px;
	color: #95a0ad;
}
.scheme-section{
	text-align: center;
	padding: 64px 0 0;
}
.scheme-section .title{
	margin: 0 0 25px;
}
.scheme-section .btn-holder{
	padding: 0 0 0 14px;
	margin: 0 0 32px;
}
.scheme-section .desc{
	color: #95a0ad;
	font-size: 20px;
	margin: 0 auto 54px;
	max-width: 390px;
	letter-spacing: -0.035em;
}
.title-scheme-block{
	margin: 0 0 66px;
	color: #00a3d2;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 400;
}
.scheme-block{
	text-align: left;
}
.scheme-block .item .head:before{
	display: none;
}
pre,
code{
	font-size: 12px;
	font-family: 'Menlo';
	color: #fafafa;
	margin: 0;
	white-space: pre-wrap;
}
pre em,
code em{
	font-style: normal;
}
.blue{
	color: #00a3d2;
}
.green{
	color: #86cd41;
}
.red{
	color: #ff0707;
}
.light-blue{
	color: #59fdff;
}
.violet{
	color: #cfcafe;
	font-style: italic;
}
.orange{
	color: #ffc299;
}
.btn-follow{
	display: inline-block;
	vertical-align: top;
	max-width: 154px;
}
.btn-follow img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
.item-scheme{
	position: relative;
	border: 1px solid #95a0ad;
	border-radius: 10px;
	padding: 34px 37px 42px;
	margin: 0 auto 110px;
	max-width: 564px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 265px;
}
.stage-0:after,
.stage-1:after,
.stage-3:after,
.stage-5:after{
	position: absolute;
	content: '';
	left: 50%;
	bottom: -88px;
	-webkit-transform: translate(-60%, 0);
	-ms-transform: translate(-60%, 0);
	-o-transform: translate(-60%, 0);
	transform: translate(-60%, 0);
	width: 6px;
	height: 65px;
	background: url("../images/arrow-1.svg") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.stage-2{
	margin: 0 auto 145px;
}

.name-scheme{
	display: block;
	margin: 0 0 7px;
	color: #95a0ad;
}
.title-scheme{
	display: block;
	margin: 0 0 28px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.005em;
}
.scheme-block .accordion .item{
	margin: 0 0 11px;
}
.scheme-block .head{
	padding: 0 0 0 26px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.scheme-block .head:hover,
.scheme-block .item.active .head{
	color: #00a3d2;
}
.scheme-block .head:after{
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	border-top: 1px solid #0090b9;
	border-left: 1px solid #0090b9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: 6px;
	left: 0;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.scheme-block .item.active .head:after{
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}
.row{
	margin: 0 -90px;
}
.row:after{
	clear: both;
	display: block;
	content: '';
}
.col-50{
	float: left;
	width: 50%;
	padding: 0 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.col-50 .stage-3,
.col-50 .stage-5{
	min-height: 305px;
}
.arrow-left,
.arrow-right{
	position: absolute;
	width: 202px;
	height: 97px;
	bottom: -124px;
	background: url("../images/arrow-2.svg") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.arrow-left{
	left: 0;
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.arrow-right{
	right: 0;
}
.arrow-angle,
.arrow-angle-2,
.arrow-top,
.arrow-top-2{
	display: none;
}
.contracn-page{
	background: url("../images/img-bg-06.jpg") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: 50% 100%;
}
.contracn-page #footer{
	background: rgba(17,17,17,.2);
}
.rollback-block{
	padding: 0 0 208px;
}
.rollback-block .title{
	text-align: center;
	margin: 0 0 74px;
}
.calculation-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	max-width: 860px;
	margin: 0 auto;
}
.list-calculation{
	list-style: none;
	margin: 0;
	padding: 0 100px 0 0;
	position: relative;
}
.list-calculation:after{
	position: absolute;
	content: '';
	top: 50%;
	right: 5px;
	-webkit-transform: translate(0, -51%);
	-ms-transform: translate(0, -51%);
	-o-transform: translate(0, -51%);
	transform: translate(0, -51%);
	width: 83px;
	height: 311px;
	background: url("../images/img-05.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.list-calculation li{
	margin: 0 0 12px;
	color: #95a0ad;
	font-size: 16px;
	line-height: 40px;
	font-weight: 400;
	padding: 0 0 0 50px;
	position: relative;
}
.list-calculation li em{
	font-weight: 700;
	color: #fff;
}
.list-calculation li span{
	display: inline-block;
	vertical-align: top;
}
.list-calculation li .formula{
	margin: 0 0 0 13px;
	width: 147px;
}
.list-calculation li .formula img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
.list-calculation li:after{
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.list-calculation .calc-1:after{
	background: url("../images/icon-n.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 12px;
	height: 16px;
}
.list-calculation .calc-2:after{
	background: url("../images/icon-b.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 14px;
	height: 21px;
}
.list-calculation .calc-3:after{
	background: url("../images/icon-sn.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 23px;
	height: 31px;
}
.list-calculation .calc-4:after{
	background: url("../images/icon-pn.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 22px;
	height: 31px;
}
.list-calculation .calc-5:after{
	background: url("../images/icon-r.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 15px;
	height: 21px;
}
.list-calculation .calc-6:after{
	background: url("../images/icon-k.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 15px;
	height: 21px;
}
.list-calculation .calc-7:after{
	background: url("../images/icon-i.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 4px;
	height: 23px;
}
.img-formula{
	padding: 0 10px 10px 0;
	width: 335px;
}
.img-formula img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
@media screen and (min-width: 891px){
	.item-team .inner-team:hover{
		box-shadow: 0 15px 73px rgba(255, 255, 255, 0.68);
		
		-webkit-transition: -webkit-box-shadow .2s linear .7s;
		-moz-transition: box-shadow .2s linear .7s;
		-ms-transition: box-shadow .2s linear .7s;
		-o-transition: box-shadow .2s linear .7s;
		transition: box-shadow .2s linear .7s;
		/* overflow: hidden; */
	}
	/* .item-team .inner-team:hover .front{
		animation: none;
	} */
	.inner-team:hover > .front{
		transform: perspective(600px) rotateY(-180deg);
	}
	.inner-team:hover > .inner-box-team{
		transform: perspective(600px) rotateY(0deg);
	}
}
@media screen and (max-width: 1100px){
	.row{
		margin: 0 -30px;
	}
	.col-50{
		padding: 0 15px;
	}
}
@media screen and (max-width: 890px) {
	.item-team .inner-team.active-shadow{
		box-shadow: 0 15px 73px rgba(255, 255, 255, 0.68);
	}
	.inner-team.active > .front{
		transform: perspective(600px) rotateY(-180deg);
	}
	.inner-team.active > .inner-box-team{
		transform: perspective(600px) rotateY(0deg);
	}
	body{
		font-size: 28px;
		/* background:#000 url("../images/img-bg-01.png") no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%; */
	}
	.container,
	.container-full{
		padding: 0 46px;
	}
	#header{
		height: 130px;
	}
	.logo{
		width: 140px;
		height: 54px;
		margin: 18px 0 0;
	}
	#header.active .logo{
		display: none;
	}
	#nav .logo.mob-logo{
		position: absolute;
		top: 0;
		left: 47px;
		display: none;
	}
	#header.active .logo.mob-logo{
		display: block;
		margin: 37px 0 0;
	}
	#nav{
		padding: 0 0 0;
		overflow: visible;
	}
	#header.active #nav{
		position: fixed;
		padding: 130px 0 0;
		left: 0;
		width: 100%;
		top: 0;
		bottom: 0;
		background: url("../images/img-bg-04.jpg") no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		overflow-y: auto;
		z-index: 1;
		display: block;
	}
	#header.active #nav:after{
		position: absolute;
		content: '';
		top: 129px;
		left: 0;
		right: 0;
		background: url("../images/icon-bd.png") no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
		height: 1px;
	}
	.btn-open{
		display: block;
	}
	.menu{
		display: none;
		text-align: center;
		padding: 205px 0 64px;
	}
	.menu li{
		display: block;
		margin: 0 0 98px;
		padding: 0 40px 25px;
		position: relative;
	}
	.menu li:after{
		position: absolute;
		content: '';
		width: 132px;
		height: 4px;
		background: #00a3d2;
		bottom: 0;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
	.menu li a{
		font-size: 61px;
		line-height: 1;
		display: block;
		letter-spacing: 0;
	}
	.contact-box{
		display: none;
		text-align: center;
		padding: 0 0 130px;
	}
	.contact-box .list-social li{
		margin: 0 26px;
	}
	.contact-box .list-social li a{
		width: 126px;
		height: 126px;
		border-radius: 50%;
		border: 1px solid #95a0ad;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.contact-box .list-social .tl a{
		-webkit-background-size: 30px 24px;
		background-size: 61px 49px;
		background-position: 50%;
	}
	.contact-box .list-social .tw a{
		-webkit-background-size: 27px 23px;
		background-size: 56px 46px;
		background-position: 50%;
	}
	.contact-box .btn-login{
		display: none;
	}
	#header.active .title-contact,
	#header.active .contact-box,
	#header.active .menu{
		display: block;
	}
	.main-section{
		padding: 54px 0 16px;
	}
	.heading .date{
		font-size: 34px;
		margin: 0 0 9px;
	}
	.title{
		font-size: 61px;
		letter-spacing: -0.003em;
		margin: 0 0 24px;
	}
	.heading .city{
		font-size: 28px;
	}
	.tokenization-box:before,
	.tokenization-box:after{
		display: none;
	}
	.list-team{
		margin: 0 0 29px;
	}
	.big-cup{
		margin: -5px 0 0;
	}
	.inner-cup{
		width: 411px;
		margin: -25px -54px 0 -62px;
	}
	.item-team.left{
		margin: -88px 0 0 -37px;
	}
	.item-team.right{
		margin: -88px -35px 0 0;
	}
	.item-team .inner-team,
	.list-team .item-team{
		width: 177px;
		height: 176px;
	}
	.item-team .logo-box{
		max-width: 118px;
	}
	.prize-box{
		max-width: 560px;
		position: relative;
		top: auto;
		left: auto;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		margin: 0 auto 0;
		padding: 15px 15px 30px;
	}
	.prize-title{
		font-size: 34px;
		margin: -30px 0 12px;
	}
	.prize-box strong{
		font-size: 103px;
	}
	.prize-logo{
		font-size: 23px;
		margin: -8px 0 0;
	}
	.prize-logo a{
		width: 136px;
		height: 30px;
		margin: -14px 0 0 5px;
	}

	.tab-section .heading{
		max-width: 500px;
		margin: 0 auto 54px;
	}
	.title-section{
		font-size: 40px;
		margin: 0 0 59px;
	}
	.subtitle{
		font-size: 34px;
	}
	.tabset{
		max-width: 660px;
	}
	.tab-control{
		margin: 0 -7px 80px;
	}
	.tab-control strong,
	.tab-control strong em{
		font-size: 61px;
	}
	.tab-control strong{
		padding: 0 0 19px;
		margin: 0 0 43px;
	}
	.tab-control strong em{
		margin: 0 0 2px;
	}
	.tab-control strong:after{
		bottom: 63px;
	}
	.tab-control .item-1 strong:after{
		background: url("../images/icon-04-1.png") no-repeat;
	}
	.tab-control .item-2 strong:after{
		background: url("../images/icon-05-1.png") no-repeat;
	}
	.tab-control .item-3 strong:after{
		background: url("../images/icon-06-1.png") no-repeat;
	}
	.tab-title{
		font-size: 40px;
		margin: 0 0 89px;
	}
	.list-steps{
		margin: 0;
		padding: 41px 20px 0;
	}
	.list-steps li{
		margin: 0 0 123px;
	}
	.inner-step{
		max-width: 280px;
	}
	.list-steps li:last-child{
		margin: 0 0 85px;
	}
	.list-steps li:last-child .inner-step{
		max-width: 100%;
	}
	.num{
		font-size: 304px;
		left: -20px;
	}
	.list-steps li:nth-child(2) .num{
		right: 0;
	}
	.list-steps li:last-child .num{
		-webkit-transform: translate(-59%, -45%);
		-ms-transform: translate(-59%, -45%);
		-o-transform: translate(-59%, -45%);
		transform: translate(-59%, -45%);
	}
	.desc-list{
		font-size: 28px;
	}
	.icon-box{
		height: 112px;
		margin: 0 0 21px;
	}
	.list-steps li:nth-child(2) .icon-box{
		padding: 0;
	}
	.list-steps li:last-child .icon-box{
		padding: 0 0 0 20px;
	}
	.icon-box img{
		max-width: 114px;
	}
	.list-steps li:last-child .icon-box img{
		max-width: 101px;
	}
	.follow-section{
		padding: 50px 0 72px;
	}
	.follow-section .title{
		font-size: 53px;
	}
	.follow-section .list-social li a{
		width: 64px;
		height: 64px;
	}
	#footer{
		padding: 101px 0 136px;
		background: none;
	}
	.footer-logo{
		width: 150px;
		padding: 7px 0 0;
	}
	.footer-logo .logo{
		margin: 0 0 17px;
	}
	.footer-logo .prize-logo{
		font-size: 14px;
		margin: -9px 0 0;
	}
	.footer-logo .prize-logo a{
		width: 81px;
		height: 18px;
		margin: -9px 0 0 1px;
	}
	.footer-text{
		padding: 0 0 0 39px;
	}
	.text-box{
		font-size: 16px;
		line-height: 1.4;
		letter-spacing: 0;
		margin: 0 -20px 0 0;
	}
	.copy{
		font-size: 17px;
		padding: 3px 0 0;
		letter-spacing: -0.01em;
	}
	.tab{
		min-height: 864px;
	}
	.tab-title.change{
		margin: 0 0 84px;
	}
	.teams-block{
		margin: 0 -31px;
	}
	.item-block{
		margin: 0 0 91px;
	}
	.item-block .vs{
		font-size: 31px;
		top: 86px;
		right: -14px;
	}
	.img-box{
		width: 201px;
		height: 201px;
		margin: 0 auto 40px;
	}
	.item-block .logo-box{
		max-width: 129px;
	}
	.name-team{
		font-size: 40px;
	}
	.list-num{
		margin: 0 0 36px;
	}
	.list-num li,
	.item-block .link{
		font-size: 28px;
	}
	.btn-holder{
		margin: 0 0 30px;
	}
	.btn{
		font-size: 28px;
		max-width: 244px;
		padding: 20px 10px;
	}
	.visual{
		max-width: 265px;
		padding: 20px 0 0;
		margin: 0 auto 42px;
	}
	.tab .desc{
		font-size: 40px;
		padding: 0 30px;
		margin: 0;
	}
	.about-section{
		padding: 105px 0 94px;
	}
	.inner-section{
		max-width: 100%;
	}
	.about-section .title{
		letter-spacing: -0.005em;
		margin: 0 0 40px;
	}
	.about-section .desc{
		font-size: 40px;
		padding: 0 60px;
		letter-spacing: -0.005em;
		margin: 0 0 43px;
	}
	.title-list{
		padding: 0 20px;
		font-size: 34px;
		margin: 0 0 85px;
	}
	.about-section .list-steps{
		padding: 41px 0 0;
	}
	.about-section .list-steps li{
		margin: 0 0 136px;
	}
	.about-section .list-steps li,
	.about-section .list-steps li:last-child{
		width: 100%;
		text-align: center;
	}
	.about-section .list-steps li:last-child{
		margin: 0 0 101px;
	}
	.about-section .inner-step{
		max-width: 300px;
	}
	.list-steps li:last-child .inner-step{
		max-width: 490px;
	}
	.about-section .num{
		left: 6px;
	}
	.about-section .list-steps li:last-child .icon-box img{
		max-width: 110px;
	}
	.text{
		margin: 0 auto 157px;
		letter-spacing: -0.015em;
	}
	.text p{
		margin: 0 0 31px;
	}
	.about-section .desc.change{
		padding: 0;
		letter-spacing: 0;
		margin: 0 0 77px;
	}
	#footer.inner-footer{
		padding: 103px 0 135px;
	}
	.faq-section{
		padding: 104px 0 92px;
	}
	.faq-section .title{
		margin: 0 0 84px;
	}
	.hide-mob{
		display: none;
	}
	.faq-section .tab-control{
		justify-content: center;
		padding: 0;
		margin: 0 0 85px;
	}
	.faq-section .tab-control li{
		width: 45%;
	}
	.faq-section .tab-control li:after{
		left: 2%;
		right: 2%;
	}
	.faq-section .tab-control a{
		font-size: 40px;
		letter-spacing: -0.02em;
		padding: 0 0 23px;
	}
	.faq-section .accordion{
		padding: 0;
	}
	.accordion .item{
		margin: 0 0 27px;
	}
	.head{
		font-size: 34px;
		line-height: 1.5;
	}
	.expanded{
		font-size: 27px;
		padding: 25px 10px 17px 29px;
	}
	.scheme-section{
		padding: 104px 0 0;
	}
	.scheme-section .title{
		margin: 0 0 33px;
	}
	.scheme-section .btn-holder{
		padding: 0 20px 0 0;
		margin: 0 0 62px;
	}
	.btn-follow{
		max-width: 291px;
	}
	.scheme-section .desc{
		font-size: 36px;
		max-width: 100%;
		margin: 0 0 66px;
	}
	.title-scheme-block{
		font-size: 40px;
		margin: 0 0 88px;
	}
	.scheme-block{
		max-width: 658px;
		margin: 0 auto;
	}
	.item-scheme{
		width: 100%;
		max-width: 657px;
		padding: 41px 34px 55px 44px;
		margin: 0 auto 138px;
	}
	.stage-0:after,
	.stage-1:after,
	.stage-3:after,
	.stage-5:after{
		width: 7px;
		height: 78px;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		bottom: -108px;
	}
	.name-scheme{
		margin: 0 0 13px;
	}
	.title-scheme{
		font-size: 34px;
		margin: 0 0 25px;
	}
	.scheme-block .accordion .item{
		margin: 0 0 9px;
	}
	.scheme-block .head{
		font-size: 28px;
		padding: 0 0 0 30px;
	}
	.scheme-block .head:after{
		width: 12px;
		height: 11px;
		top: 17px;
	}
	.arrow-left,
	.arrow-right{
		display: none;
	}
	.arrow-top,
	.arrow-top-2{
		width: 1px;
		/* height: 1330px; */
		height: 1330px;
		background: #fff;
		top: -117px;
		left: -74px;
		display: block;
		position: absolute;
	}
	.arrow-top-2{
		right: auto;
		left: 45px;
		height: 363px;
		left: -48px;
	}
	.arrow-top:after,
	.arrow-top-2:after{
		position: absolute;
		content: '';
		width: 8px;
		height: 1px;
		background: #fff;
		top: 0;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
	.row{
		margin: 0;
	}
	.col-50{
		float: none;
		padding: 0 0 0 94px;
		width: 100%;
	}
	.arrow-angle,
	.arrow-angle-2{
		position: absolute;
		display: block;
		left: -48px;
		top: 246px;
	}
	.arrow-angle{
		background: url("../images/arrow-angle.png") no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
		width: 32px;
		height: 23px;
	}
	.arrow-angle-2{
		background: url("../images/arrow-angle-2.png") no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
		width: 54px;
		height: 25px;
		left: -74px;
		top: 207px;
	}
	.arrow-angle:after,
	.arrow-angle-2:after{
		position: absolute;
		content: '';
		width: 1px;
		background: #fff;
		left: 0;
	}
	.arrow-angle:after{
		height: 363px;
		top: -363px;
	}
	.arrow-angle-2:after{
		height: 1330px;
		top: -1330px;
	}
	.contracn-page{
		background: none;
	}
	.rollback-block{
		padding: 10px 0 159px;
	}
	.rollback-block .title{
		margin: 0 0 104px;
	}
	.calculation-box{
		display: block;
	}
	.list-calculation{
		padding: 0 0 155px;
		max-width: 495px;
		margin: 0 auto 73px;
	}
	.list-calculation:after{
		width: 563px;
		height: 94px;
		top: auto;
		left: 50%;
		bottom: 0;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		background: url("../images/img-08.png") no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
	}
	.list-calculation li{
		font-size: 28px;
		line-height: 56px;
		padding: 0 0 0 80px;
		margin: 0 0 33px;
	}
	.list-calculation li .formula{
		width: auto;
	}
	.list-calculation .calc-1:after{
		width: 21px;
		height: 28px;
	}
	.list-calculation .calc-2:after{
		width: 24px;
		height: 37px;
	}
	.list-calculation .calc-3:after{
		width: 39px;
		height: 55px;
	}
	.list-calculation .calc-4:after{
		width: 38px;
		height: 54px;
	}
	.list-calculation .calc-5:after{
		width: 24px;
		height: 37px;
	}
	.list-calculation .calc-6:after{
		width: 25px;
		height: 37px;
	}
	.list-calculation .calc-7:after{
		width: 6px;
		height: 40px;
	}
	.img-formula{
		width: auto;
		padding: 0;
		text-align: center;
	}
	.lang-box{
		display: none;
	}
}
@media screen and (max-width: 750px){
	body{
		font-size: 28px;
		/* background:#000 url("../images/img-bg-01.png") no-repeat;
		-webkit-background-size: 250%;
		background-size: 250%;
		background-position: 50% 0; */
	}
	.show-mob{
		display: block;
	}
	.show-decs,
	.footer-nav{
		display: none;
	}
	pre, code{
		font-size: 18px;
		overflow-x: auto;
	}
	.arrow-top{
		height: 1373px;
	}
	.arrow-angle-2:after{
		height: 1373px;
		top: -1373px;
	}
}